<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Storage</title>
      {% else %}
      <title>Welcome to UMBC Storage</title>
      {% endif %}
      <link rel="stylesheet" type="text/css" href="/static/style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    </head>
    <body>
        <div>UMBC Self Storage: 
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('home') }}">Chat</a>
        <a href="{{ url_for('test1') }}">Testing</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout')}}">Logout</a>
        {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>