{% extends "base.html" %}

{% block content %}
        <h1>UMBC Storage</h1>
        <br><br>

        <table class="center">
                <tr>
                        <td><img src="static/business.png" alt="Business Photo"></td>
                        <td>
                        <b style="font-size:2em">UMBC Storage</b>
                        <p>1234 Hilltop Cir <br>
                           Baltimore, MD, 21250</p>
                        <p style="font-size:1.2em;color:darkcyan"><b>(123) 456-7890</b></p>
                        </td>
                </tr>
                <tr class="no_border">
                        <td class="no_border">
                                <p style="font-size:2em;color:darkblue">Office Hours</p>
                                <p><b>Monday - Friday</b><br>
                                      6:00 AM - 10:00 PM<br>                                      
                                      *24-Hour Access Available
                                      
                                </p>
                        
                                <p style="font-size:2em;color:darkblue">Access Hours</p>
                                <p><b>7 Days A Week</b><br>
                                   <b>Monday - Friday</b><br>
                                      9:00 AM - 5:00 PM<br>
                                   <b>Saturday & Sunday</b><br>
                                      9:00 AM - 8:00 PM
                                </p>
                        </td>
                </tr>
        </table>
        <br><br><br>
        <table class="center">
                <tr>
                        <td><img src="static/small.png" alt="Small Storage Unit"><br>
                            5ft x 5ft<br>
                            Area: 25 ft<sup>2</sup>
                        </td>
                        <td>
                                <ul>
                                        <li>Small Unit</li>
                                        <li>Outside</li>
                                </ul>
                        </td>
                        <td style="font-size:1.5em;color:darkblue">$50</td>
                </tr>
                <tr>
                        <td><img src="static/medium.png" alt="Small Storage Unit"><br>
                            10ft x 10ft<br>
                            Area: 100 ft<sup>2</sup></td>
                        <td>
                                <ul>
                                        <li>Medium Unit</li>
                                        <li>Outside</li>
                                </ul>
                        </td>
                        <td style="font-size:1.5em;color:darkblue">$75</td>
                </tr>
                <tr>
                        <td><img src="static/large.png" alt="Small Storage Unit"><br>
                            10ft x 20ft<br>
                            Area: 200 ft<sup>2</sup></td>
                        <td>
                                <ul>
                                        <li>Large Unit</li>
                                        <li>Outside</li>
                                </ul>
                        </td>
                        <td style="font-size:1.5em;color:darkblue">$95</td>
                </tr>
        </table>



{% endblock %}