{% extends "base.html" %}

{% block content %}
    <h1>USER: {{ user.username }}</h1>
    <hr>

    <h3>Unit Availability</h3>
    <p>Small Units Available: {{ smallUnits }}</p>
    <p>Medium Units Available: {{ mediumUnits }}</p> 
    <p>Large Units Available: {{ largeUnits }}</p>

    <h3>Your Units</h3>
    <p>Small Units: {{ userSmall }} | Unit Number: {{ userUnitSmall }}</p>
    <p>Medium Units: {{ userMedium }} |  Unit Number: {{ userUnitMedium }}</p>
    <p>Large Units: {{ userLarge }} | Unit Number: {{ userUnitLarge }}</p>

    <h3>Purchase or Remove Units</h3>
    <form method="post">
        <input type="submit" name="submit_button" value="Add 1 Small Unit">
        <input type="submit" name="submit_button" value="Remove 1 Small Unit"> <BR>
        <input type="submit" name="submit_button" value="Add 1 Medium Unit">
        <input type="submit" name="submit_button" value="Remove 1 Medium Unit"> <BR>
        <input type="submit" name="submit_button" value="Add 1 Large Unit">
        <input type="submit" name="submit_button" value="Remove 1 Large Unit"> <BR>
    
            <!-- Testing
        <input type="submit" name="download" value="Download">
        <input type="submit" name="watch" value="Watch">
    -->
    </form>
        

{% endblock %}